<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

    <body>
        <h1>Hello, <%= @user.email %></h1>
        <p>
          You have the books currently on hold that have been returned.
          Check them out asap. First come, first serve.
        </p>
        
        <p>Thanks for using our regional library system and have a great day!</p>
      </body>


</html>
