<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

    <body>
        <h1>Hello, <%= @user.email %></h1>
        <p>
          A book you have currently on hold that has been returned.
          Return to the library to check it out.
        </p>

        <p>Thanks for using our regional library system and have a great day!</p>
      </body>


</html>
